/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Reset */

/* Body */
html,body{
    height: 100%;
}

/* Clear */
.clear{
    clear: both;
}
/* Clear */

/* Header container */
.container{
    max-width: 1280px;
    margin: 0 auto;
}
/* Header container */

/* Header*/
header{
    width: 100%;
    height: 90vh;
    padding: 40px 2%;
    /*max-height: 700px;*/
    background-size: cover;
    background-position: center;
    background-image: url('../images/capa.png');
    font-weight: 300;
}

header .logo{
    float: left;
    width: 160px;
    height: 40px;
    background-color: #ccc;
}

header nav{
    float: right;
}

header nav ul{
    list-style-type: none;
    color: white;
}

header nav li{
    float: left;
    margin: 0 20px;
}

header li a{
    text-decoration: none;
    color: white;
}
/* Header */

/* Chamada1 */
.chamada1{
    max-width: 600px;
    float: right;
    margin: 140px 150px;
}

.chamada1 h2{
    font-size: 40px;
    color: white;
    font-weight: 300;
}

.chamada1 p{
    font-size: 15px;
    color: white;
    margin-top: 10px;
}
/* Chamada1 */

/* Sessao1 */
section.sessao1{
    width: 100%;
    background-color: #472562;
    padding: 0 2%;
    height: 400px;
}

section.sessao1 .container{
    max-width: 1000px;
}

.texto-sessao1{
    float: left;
    width: 50%;
    color: white;
    margin-top: 60px;
    padding-left: 80px;
    position: relative;
    left: 55px;
}

.texto-sessao1 h2{
    font-size: 26px;
    font-weight: 300;

}

.texto-sessao1 p{
    font-size: 15px;
    margin-top: 20px;
}

.texto-sessao1 ul{
    font-size: 15px;
    list-style-position: inside;
}

.texto-sessao1 ul li{
    float: left;
    width: 100%;
    margin-top: 8px;
}

.btn1-texto{
    background-color: #FF703D;
    width: 165px;
    height: 44px;
    color: white;
    cursor: pointer;
    font-size: 13px;
    margin-top: 30px;
    text-align: center;
    line-height: 44px;
    border-radius: 30px;
}

.device-sessao1{
    float: left;
    width: 50%;
    position: relative;
    top: -30px;
    height: 430px;
    background-image: url('../images/device.png');
    background-size: 100% 100%;
}
/* Sessao1 */
/* Body */

/* Media query */

@media screen and (max-width: 768px){

section.sessao1{
    padding: 40px 2%;
    height: auto;
}

.texto-sessao1{
    float: none;
    width: 100%;
    margin-top: 0;
    padding-left: 0;
    position: static;
    display: inline-block;
}

.texto-sessao1 ul{
    display: inline-block;
    margin-top: 20px;
}

.texto-sessao1 ul li{
    float: none;
    text-align: center;
}


.device-sessao1{
    display: none;

}

}
/* Media query */