/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Reset */

/* Body */
html,body{
    height: 100%;
}

/* Clear */
.clear{
    clear: both;
}
/* Clear */

/* Header container */
.container{
    max-width: 1280px;
    margin: 0 auto;
}
/* Header container */

/* Header*/
header{
    width: 100%;
    height: 90vh;
    padding: 40px 2%;
    /*max-height: 700px;*/
    background-size: cover;
    background-position: center;
    background-image: url('../images/capa.png');
    font-weight: 300;
}

header .logo{
    float: left;
    width: 160px;
    height: 40px;
    background-color: #ccc;
}

header nav{
    float: right;
}

header nav ul{
    list-style-type: none;
    color: white;
}

header nav li{
    float: left;
    margin: 0 20px;
}

header li a{
    text-decoration: none;
    color: white;
}
/* Header */

/* Chamada1 */
.chamada1{
    max-width: 600px;
    float: right;
    margin: 140px 150px;
}

.chamada1 h2{
    font-size: 40px;
    color: white;
    font-weight: 300;
}

.chamada1 p{
    font-size: 15px;
    color: white;
    margin-top: 10px;
}
/* Chamada1 */

/* Sessao1 */
section.sessao1{
    width: 100%;
    background-color: #472562;
    padding: 20px 2%;
}

.text-sessao1{
    float: left;
}
/* Sessao1 */


/* Body */