/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Reset */

/* Body */
html,body{
    height: 100%;
}

/* Header container */
.container{
    max-width: 1280px;
    margin: 0 auto;
}
/* Header container */

/* Header*/
header{
    width: 100%;
    height: 90vh;
    max-height: 700px;
    background-size: cover;
    background-position: center;
    background-image: url('../images/capa.png');
}
/* Header */

header .logo{
    float: left;
    width: 160px;
    height: 40px;
    background-color: #ccc;
}

header nav{
    float: right;
}

header nav ul{
    list-style-type: none;
    color: white;
}

header nav li{
    float: left;
    margin: 0 20px;
}

/* Body */