/* RESET */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Open Sans";
    }/* reset */

    html,body{
        height: 100%;
    }/* body */

    .container{
        max-width: 1280px;
        margin: 0 auto;
    }

    .clear{
        clear: both;
    }/* clear */
/* RESET */

/* BODY */
    /* HEADER */
        header{
            width: 100%;
            height: 90vh;
            min-height: 800px;
            padding: 40px 2%;
            /*max-height: 700px;*/
            background-size: cover;
            background-position: center;
            background-image: url('../images/capa.png');
            font-weight: 300;
        }/* header-container */

        header .header-logo{
            float: left;
            width: 160px;
            height: 40px;
            background-color: #ccc;
        }/* header-logo */

        /* header-nav */
            header nav{
                float: right;
            }

            /* desktop-menu */
                header nav.desktop-menu ul{
                    list-style-type: none;
                }

                header nav.desktop-menu li{
                    float: left;
                    margin: 0 20px;
                }

                header nav.desktop-menu li a{
                    text-decoration: none;
                    color: white;
                }
            /* desktop-menu */

            /* mobile-menu */
                header nav.mobile-menu{
                    display: none;
                    cursor: pointer;
                    width: 32px;
                    height: 32px;
                    background-image: url('../images/menu-aberto.png');
                    background-size: 100% 100%;
                }

                header nav.mobile-menu:hover ul{
                    opacity: 1;
                }

                header nav.mobile-menu ul{
                    opacity: 0;
                    transition: 1s;
                    background-color: white;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 80px;
                    list-style-type: none;
                    text-align: center;
                }

                header nav.mobile-menu ul li{
                    padding: 8px 0;
                    border-bottom: 1px solid black;
                }

                header nav.mobile-menu ul li:hover{
                    background-color: rgb(230, 230, 230);
                }

                header nav.mobile-menu ul li a{
                    color: black;
                    text-decoration: none;
                }
            /* mobile-menu */
        /* header-nav */

        /* chamada1 */
            .header-chamada1{
                max-width: 600px;
                float: right;
                margin: 140px 150px;
            }

            .header-chamada1 h2{
                font-size: 40px;
                color: white;
                font-weight: 300;
            }

            .header-chamada1 p{
                font-size: 15px;
                color: white;
                margin-top: 10px;
            }
        /* chamada1 */
    /* HEADER */

    /* SESSAO1 */
        /* sessao1-container */
            section.sessao1{
                width: 100%;
                background-color: #472562;
                padding: 0 2%;
                height: 400px;
            }

            section.sessao1 .container{
                max-width: 1000px;
                height: calc(100% + 30px);
            }
        /* sessao1-container */

        /* sessao1-texto */
            .sessao1-texto{
                float: left;
                width: 50%;
                color: white;
                margin-top: 60px;
                padding-left: 80px;
                position: relative;
                left: 55px;
            }

            .sessao1-texto h2{
                font-size: 26px;
                font-weight: 300;
            }

            .sessao1-texto p{
                font-size: 15px;
                margin-top: 20px;
            }

            .sessao1-texto ul{
                font-size: 15px;
                list-style-position: outside;
                padding-left: 15px;
            }

            .sessao1-texto ul li{
                float: left;
                width: 100%;
                margin-top: 8px;
            }
        /* sessao1-texto */

        .sessao1-btn1-texto{
            background-color: #FF703D;
            width: 165px;
            height: 44px;
            color: white;
            cursor: pointer;
            font-size: 13px;
            margin-top: 30px;
            text-align: center;
            line-height: 44px;
            border-radius: 30px;
        }/* sessao1-btn1 */

        .sessao1-device{
            float: left;
            width: 50%;
            position: relative;
            top: -30px;
            height: 100%;
            background-image: url('../images/device.png');
            background-size: 100% 100%;
        }/* sessao1-device */
    /* SESSAO1 */

    /* SESSAO2 */
        .sessao2{
            padding-left: 2%;
            padding-right: 2%;
            color: white;
            text-align: center;
            max-width: 1000px;
        }

        .sessao2 h2{
            color: #472663;
            font-weight: 300;
        }

        .sessao2 p{
            margin-top: 30px;
            max-width: 900px;
            color: #472663;
            display: inline-block;
        }

        .sessao2 img{
            position: relative;
            margin-top: 10px;
            top: 50px;
            width: 100%;
            /*max-width: 900px;
            display: inline-block;*/
        }

    /* SESSAO2 */

    /* SESSAO3 */
        .sessao3{
            width: 100%;
        }
        
        /* part1 */
            .part1{
                color: white;
                float: left;
                width: 50%;
                padding: 140px 0 90px 0;
                background: #835FA7;
            }

            .wraper-part1{
                max-width: 600px;
                float: right;
                padding: 30px;
            }

            .part1 h2{
                font-weight: 300;
                font-style: italic;
                font-size: 23px;
            }

            .part1 p{
                font-size: 15px;
                line-height: 35px;
                margin-top: 10px;
            }
        /* part1 */
        
        /* part2 */
            .part2{
                float: left;
                width: 50%;
                padding: 140px 0 90px 0;
                background: white;
            }

            .autor-sobre{
                float: left;
                max-width: 600px;
                padding-left: 30px;
            }

            .autor-titulo{
                float: left;
                width: 100%;
            }

            .autor-titulo-wraper{
                float: left;
            }

            .autor-titulo h2{
                color: #232323;
                font-weight: 400;
                font-size: 25px;
                padding-right: 20px;
            }

            .autor-titulo p{
                color: #232323;
                font-weight: 300;
                font-size: 12px;
                font-style: italic;
            }

            .autor-titulo .autor-img{
                float: left;
                margin-left: 10px;
                width: 40px;
                height: 40px;
                position: relative;
                top: 8px;
                border-radius: 20px;
                background-color: blue;
            }

            .autor-texto{
                float: left;
                width: 100%;
                margin-top: 10px;
            }

            .autor-texto p{
                color: #232323;
                font-size: 15px;
                padding-right: 30px;
            }

            .slider-bullets{
                width: 100%;
                float: left;
                padding-left: 30px;
                margin-top: 12px;
            }

            .slider-bullets span{
                width: 13px;
                height: 13px;
                float: left;
                margin-right: 8px;
                cursor: pointer;
                border-radius: 8px;
                background-color: rgb(200, 200, 200);
            }
        /* part2 */
    /* SESSAO3 */

    /* SESSAO4 */
        .sessao4{
            background-color: #472563;
            padding: 100px 0;
        }

        .form{
            color: white;
            float: left;
            width: 50%;
        }

        .form h2{
            font-size: 23px;
            font-weight: 300;
        }

        .form p{
            font-size: 15px;
            font-weight: 300;
            max-width: 400px;
        }

        .form form input[typer=text]{
            width: 100%;
            max-width: 480px;
            margin-top: 5px;
            height: 58px;
            padding-left: 8px;
            line-height: 58px;
            border: 1px solid rgb(200, 200, 200);
        }
    /* SESSAO4 */
/* BODY */


/* MEDIA QUERY 830PX */
@media screen and (max-width: 830px) {
    /* header-chamada1 */
        .header-chamada1{
            max-width: none;
            width: 100%;
            text-align: center;
            float: none;
            margin: 170px 0;
        }

        .header-chamada1 h2{
            font-weight: 300;
            font-size: 30px;
            padding: 0 0px;
            color: white;
        }

        .header-chamada1 p{
            font-size: 15px;
            color: white;
            margin-top: 10px;
        }
    /* header-chamada1 */    
}


/* MEDIA QUERY 768PX */
@media screen and (max-width: 768px){
    /* header */
        header{
            width: 100%;
            height: auto;
            min-height: 90vh;
            padding: 40px 2%;
        }/* header */

        /* header-nav */
            nav.header-desktop-menu{
                display: none;
            }/* desktop-menu */

            nav.header-mobile-menu{
                display: block;
            }/* mobile-menu */
        /* header-nav */
    /* header */


    /* sessao1 */
        section.sessao1{
            padding: 40px 2%;
            height: auto;
            text-align: center;
        }

        /* sessao1-texto */
            .sessao1-texto{
                width: 100%;
                margin-top: 0;
                padding-left: 0;
                position: static;
                float: none;
                display: inline-block;
            }

            .sessao1-texto ul{
                display: inline-block;
                margin-top: 20px;
            }

            .sessao1-texto ul li{
                float: none;
                text-align: left;
            }
        /* sessao1-texto */

        .sessao1-device{
            display: none;
        }/* sessao1-device */
    /* sessao1 */

    /* sessao2 */
        .sessao2{
            padding-top: 40px 2%;
        }
    /* sessao2 */
}
/* MEDIA QUERY 768PX */


/* MEDIA QUERY 580PX */
@media screen and (max-width: 580px){
    /* sessao2 */
        .sessao2 img{
            top: 16px;
            margin-top: 20px;
        }
    /* sessao2 */
    
    /* sessao3 */
        .part1{
            padding: 40px 0;
            width: 100%;
        }

        .part2{
            padding: 40px 0;
            width: 100%;
        }
    /* sessao3 */
}
/* MEDIA QUERY 580PX */